In [13]:
import pandas as pd
from pathlib import Path

OUT_PATH = Path().absolute().parent / "exports"

In [23]:

df = pd.read_excel(OUT_PATH / 'Export_20230826125613.xlsx')

### Most unstable algs

In [24]:
df.sort_values('Std', ascending=False)[:10].iloc[:, [0, 1, 2, 3, 7]]

   Buffer 1st target 2nd target                     Alg   Std
82     UF         UL         RU               S, R' F R  1.06
21     UF         UL         DR        U' R U R': S, R2  1.03
62     UF         DL         BD      U' R' B R': S', R2  1.00
75     UF         DB         LF      D' R' F: F,R S' R'  0.90
93     UF         DB         RB         R' F: U' M U, R  0.89
23     UF         DB         DR      Lw U Lw': Lw' U Lw  0.89
57     UF         DB         BL        U' D' R': E', R2  0.89
4      UF         UB         UL            L2 U: S', L2  0.88
15     UF         DL         DB  Lw' D Lw: S', Lw D Lw'  0.88
18     UF         UR         DL           R2 U': S', R2  0.80

### Most stable algs

In [25]:
df.sort_values('Std')[:10].iloc[:, [0, 1, 2, 3, 7]]

   Buffer 1st target 2nd target                Alg   Std
72     UF         UB         LF     U': R' E R, U2  0.21
95     UF         UB         RD    U': R' E' R, U2  0.22
25     UF         UB         DF             U2, M'  0.22
51     UF         UR         BR     M: U M' U', R'  0.23
22     UF         UR         DR  U', R' E R2 E' R'  0.24
20     UF         UB         DR          U': S, R2  0.24
49     UF         UB         BR        R U': S, R2  0.24
90     UF         UB         RB      U: L' E L, U2  0.25
31     UF         UL         FL      E: U, L E' L'  0.26
81     UF         UB         RU        S U': S, R2  0.26

### Slowest algs

In [26]:
df.sort_values('Mean', ascending=False)[:10].iloc[:, [0, 1, 2, 3, 4]]

   Buffer 1st target 2nd target                     Alg  Mean
4      UF         UB         UL            L2 U: S', L2  1.93
18     UF         UR         DL           R2 U': S', R2  1.85
62     UF         DL         BD      U' R' B R': S', R2  1.85
15     UF         DL         DB  Lw' D Lw: S', Lw D Lw'  1.82
21     UF         UL         DR        U' R U R': S, R2  1.71
8      UF         UB         UR           R2' U': S, R2  1.68
10     UF         DB         UR         R U R' U: M, U2  1.65
59     UF         UB         BD         M U: S, R' F' R  1.60
23     UF         DB         DR      Lw U Lw': Lw' U Lw  1.58
93     UF         DB         RB         R' F: U' M U, R  1.56

### Fastest algs

In [27]:
df.sort_values('Mean')[:10].iloc[:, [0, 1, 2, 3, 4]]

   Buffer 1st target 2nd target             Alg  Mean
86     UF         UL         RF      U, L E' L'  0.70
2      UF         DB         UB           U2, M  0.74
39     UF         DL         FR    U L': E', L2  0.82
91     UF         UL         RB       U, L' E L  0.83
78     UF         UL         LD       U, L E L'  0.85
25     UF         UB         DF          U2, M'  0.87
53     UF         DL         BR      U L: E, L2  0.91
73     UF         UL         LF  U': R' E R, U'  0.92
87     UF         UR         RF   U: L E' L', U  0.92
79     UF         UR         LD    U: L E L', U  0.94

In [32]:
df[(df['1st target'] == 'DB') & (df['2nd target'] == 'DL')]

,Buffer,1st target,2nd target,Alg,Mean,Median,Count,Std
19,UF,DB,DL,"Lw' D Lw: Lw D Lw', S'",1.42,1.67,21,0.69

In [ ]:
import json

with open()